/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.client-list{
  padding-left:200px;
}

.center {
  text-align: center !important;
}

.small-padding{
  padding-top:20px !important;
}
